//------------------------------------------------------------------------------------

.light-theme {
    // --primary: #6750A4;
    // --on-primary: #FFFFFF;
    // --primary-container: #EADDFF;
    // --on-primary-container: #21005D;

    --primary: #005ac1;
    --on-primary: #ffffff;
    --primary-container: #d8e2ff;
    --on-primary-container: #001a41;

    // --secondary: #625B71;
    // --on-secondary: #FFFFFF;
    // --secondary-container: #E8DEF8;
    // --on-secondary-container: #1D192B;

    --secondary: #575e71;
    --on-secondary: #ffffff;
    --secondary-container: #dbe2f9;
    --on-secondary-container: #141b2c;

    --tertiary: #7D5260;
    --on-tertiary: #FFFFFF;
    --tertiary-container: #FFD8E4;
    --on-tertiary-container: #31111D;

    --error: #B3261E;
    --on-error: #FFFFFF;
    --error-container: #F9DEDC;
    --on-error-container: #410E0B;

    --warning: #7a5900;
    --on-warning: #ffffff;
    --warning-container: #ffdea3;
    --on-warning-container: #261900;

    --success: #006d3a;
    --on-success: #ffffff;
    --success-container: #82faab;
    --on-success-container: #00210e;

    --outline: #79747E;

    // --background: #FFFBFE;
    --background: #ffffff;
    --on-background: #1C1B1F;

    // --surface: #f7f2f9;
    --surface: #f2f7fc;
    --on-surface: #1C1B1F;
    --surface-variant: #E7E0EC;
    --on-surface-variant: #49454F;

    --hover: #1C1B1F1a;

    --shadow: #1C1B1F33;

    --elevation: #1C1B1F66;

    --disabled: #1C1B1F1f;
    --on-disabled: #1C1B1F66;

    --elevation: #1C1B1F66;
}

//------------------------------------------------------------------------------------