//------------------------------------------------------------------------------------

@keyframes banner-fade {
    0% {
        filter: blur(20px);
        opacity: 0;
    }

    30% {
        filter: blur(0);
        opacity: 1;
    }

    70% {
        filter: blur(0);
        opacity: 1;
    }

    100% {
        filter: blur(20px);
        opacity: 0;
    }
}

//------------------------------------------------------------------------------------

@keyframes buffer {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//------------------------------------------------------------------------------------